.greyhead {
	background-color: #24292e;
	color: #bbb;
	padding-top:7px;
	min-height: 42px;
}

.header-notice {
	margin-top: 3px;
}

.login-errors {
	padding-bottom:5px;
	color: red;
}

.regwell {
	margin-top: 20px;
}

.username-bold {
	color:white;
	font-weight: bold;
	margin-right: 7px;
}

.logout-link {
	border: 1px solid white;
	padding: 0px 3px 2px 3px;
	border-radius: 4px;
}

.list-names {
	list-style: none;
}

.list-item {
	list-style: none;
	
	margin-bottom: 4px;
	padding: 7px;
}

.list-body {
	padding: 0;
}

.item-image {
	object-fit: cover;
	width: 150px;
	height: 150px;
}

.item-text {
	margin-left: 10px;
	vertical-align: top;
}
